In [1]:
import nltk
import pandas as pd
import numpy as np
import re
from nltk.corpus import stopwords
import matplotlib.pyplot as plt
import seaborn as sns
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer 
import re

In [2]:
data=pd.read_csv("SPAM text message 20170820 - Data.csv",encoding='utf-8',header=0)

In [3]:
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
data["Category"] = [1 if each == "spam" else 0 for each in data["Category"]]

In [5]:
description_list = []
for description in data["Message"]:
    description = re.sub("[^a-zA-Z]"," ",description)
    description = description.lower()   # low case letter
    description = word_tokenize(description)
    lemma = WordNetLemmatizer()
    description = [ lemma.lemmatize(word) for word in description]
    description = " ".join(description)
    description_list.append(description) #we hide all word one section

In [6]:
description_list[0]

'go until jurong point crazy available only in bugis n great world la e buffet cine there got amore wat'

In [7]:
from sklearn.feature_extraction.text import CountVectorizer 
count_vectorizer = CountVectorizer(max_features = 100, stop_words = "english")
sparce_matrix = count_vectorizer.fit_transform(description_list).toarray()
tokens = count_vectorizer.get_feature_names()

In [8]:
len(sparce_matrix)

5572

In [9]:
newdata=pd.DataFrame(sparce_matrix, columns=tokens)

In [10]:
CategoryData=data["Category"]

In [11]:
CategoryData

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: Category, Length: 5572, dtype: int64

In [12]:
newdata["Category"]=CategoryData

In [13]:
newdata

,amp,ask,babe,care,cash,claim,com,come,contact,da,...,way,week,win,won,work,www,yeah,year,yes,Category
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0,0,0,0,0,1,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
5568,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5569,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5570,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
5571,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
newdata.to_csv("New_Spam_Data.csv", mode='w')