In [1]:
import nltk
import pandas as pd
import numpy as np
import re
from nltk.corpus import stopwords
import matplotlib.pyplot as plt
import seaborn as sns
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer 
import re

In [2]:
data=pd.read_csv("New_Spam_Data.csv",encoding='utf-8',header=0)

In [3]:
data.head()

,Unnamed: 0,amp,ask,babe,care,cash,claim,com,come,contact,...,way,week,win,won,work,www,yeah,year,yes,Category
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
xData=data[data.columns.difference(["Category"])]
yData=data["Category"]

In [5]:
xData.columns

Index(['Unnamed: 0', 'amp', 'ask', 'babe', 'care', 'cash', 'claim', 'com',
       'come', 'contact',
       ...
       'wat', 'way', 'week', 'win', 'won', 'work', 'www', 'yeah', 'year',
       'yes'],
      dtype='object', length=101)

In [6]:
xData=xData.drop('Unnamed: 0',axis=1)

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(xData,yData, train_size=0.80, shuffle=True)

In [8]:
traindata=pd.merge(x_train,y_train,left_index=True,right_index=True)
testdata=pd.merge(x_test,y_test,left_index=True,right_index=True)

In [9]:
traindata=traindata.dropna(how='any')
testdata=testdata.dropna(how='any')

In [10]:
print(len(traindata))
print(len(testdata))

4457
1115

In [11]:
traindata.to_csv("Train_spam_Data.csv",mode='w',index=False)
train=pd.read_csv("Train_spam_Data.csv",encoding='utf-8',header=0)

In [12]:
testdata.to_csv("Test_spam_Data.csv",mode='w',index=False)
test=pd.read_csv("Test_spam_Data.csv",encoding='utf-8',header=0)